@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');

.header-component {
    width: 100%;
    min-height: 50px;
    border-bottom: 1px solid rgba(167, 167, 167, 0.4);
    display: flex;
    flex-direction: row;
    background-color: black;
    font-family: 'Rakkas', cursive;
    position: fixed;
}

.header__left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__left > h1 {
    color: white;
    letter-spacing: 10px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 45px;
}

.header__right {
    flex: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown__menu {
    position: absolute;
    background-color: white;
    width: 200px;
    height: 150px;
    border-radius: 5px;
    transition: 0.5s;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    visibility: hidden;
    opacity: 0;
}

.dropdown__menu > p {
    cursor: pointer;
    font-size: 16px;
}

.dropdown__menu::before {
    content: "";
    position: absolute;
    top: -5px;
    right: 95px;
    width: 15px;
    height: 15px;
    background-color: white;
    transform: rotate(45deg);
    margin: 0 auto;
}

.dropdown:hover dropdown__menu {
    visibility: visible;
    opacity: 1;
}