
.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
    border-right: none !important;
}

.ant-spin {
    width: 100%;
}

.sidebar-component {
    width: 100%;
    height: 100%;
}

.sidebar__top {
    width: 100%;
    left: 0;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar__bottom {
    height: 90%;
    overflow-y: scroll;
    scrollbar-width: thin;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
